button {
    background-color: #6c9de8;
    color: white;
    padding: 30px 60px;
    border-radius: ;
    cursor: pointer;
    font-size: 50px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }